In [2]:
import numpy as np
import pandas as pd

In [3]:



tt=pd.read_csv('/home/cad429/code/panda/data/train.csv')
test=pd.read_csv('/home/cad429/code/panda/data/test.csv')
sample=pd.read_csv('/home/cad429/code/panda/data/sample_submission.csv')
print(tt.head())
print("test csv")
print(test.head())
print("sample")
print(sample.head())


print(tt['gleason_score'].unique())
print(tt['isup_grade'].unique())

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0
test csv
                           image_id data_provider
0  005700be7e06878e6605e7a5a39de1b2       radboud
1  005c6e8877caf724c600fdce5d417d40    karolinska
2  0104f76634ff89bfff1ef0804a95c380       radboud
sample
                           image_id  isup_grade
0  005700be7e06878e6605e7a5a39de1b2           0
1  005c6e8877caf724c600fdce5d417d40           0
2  0104f76634ff89bfff1ef0804a95c380           0
['0+0' '4+4' '3+3' '4+3' 'negative' '4+5' '3+4' '5+4' '5+5' '5+3' '3+5']
[0 4 1 3 5 2]

In [4]:
tt[(tt['isup_grade'] == 2) & (tt['gleason_score'] == '4+3')]

                              image_id data_provider  isup_grade gleason_score
7273  b0a92a74cb53899311acc30b7405e101    karolinska           2           4+3

In [5]:
tt['gleason_score'] = tt['gleason_score'].apply(lambda x: "0+0" if x=="negative" else x)
tt.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [6]:
print(tt['gleason_score'].unique())

['0+0' '4+4' '3+3' '4+3' '4+5' '3+4' '5+4' '5+5' '5+3' '3+5']